{% extends "base.html" %}

{% block content %}
    <h1>Добавление рецензии</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            Ваша рецензия<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", value='Сохранить') }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}